<form action="/plants" method="post" id="new-plant">
  <body>
    <label for="date_planted" class="info">Date Planted:</label>
    <br>
    <input name="date_planted" type="date" value="">
    <br>
    <br>
    <label for="plant_name" class="info">Name of Plant:</label>
    <br>
    <input name="plant_name" placeholder="Plant Name" type="text" required>
    <br>
    <br>
    <label for="plant_type" class="info">Type of Plant:</label>
    <br>
    <input name="plant_type" placeholder="Herb, Flower, Fruit, etc." type="text" required>
    <br>
    <br>
    <label for="height" class="info">Height:</label>
    <br>
    <input name="height" placeholder="# in Inches" type="text" required>
    <br>
    <br>
    <label for="sunlight" class="info">Amount of Sunlight:</label>
    <br>
    <input name="sunlight" placeholder="# of Hours" type="text" required>
    <br>
    <br>
    <label for="harvest" class="info">Days to Harvest:</label>
    <br>
    <input name="harvest" placeholder="# of Days" type="text" required>
    <br>
    <br>
    <label for="notes" id="notes" class="info">Notes:</label>
    <br>
    <input name="notes" placeholder="Notes" type="text" value="">
    <br>
    <br>
    <h4>Are you currently growing this plant or do you plan to do so in the future?</h4>
    <h5>I am:</h5>
    <input type="radio" class="radio" name="choice" value="current">
    <label for="current">Currently growing this plant</label>
    <br>
    <input type="radio" class="radio" name="choice" value="future">
    <label for="future">Planning to grow this plant in the future</label>
  </body>
  <br>
  <br>
  <form id="save" action="/plants" method="post">
   <input type="submit" value="Save">
   <a id="cancel" href="/plants">Cancel</a>
 </form>
</form>
